@tailwind base;
@tailwind components;
@tailwind utilities;

.popup-animation {
  animation: popup .5s linear;
}

@keyframes popup {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform:scale(1);
    opacity: 1;
  }
}